@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:var(--font-roboto-mono)
}

.home_background{
  background: radial-gradient(circle at top center, rgba(255, 255, 255, 0.133), rgba(0, 0, 0, 0.8));
  height: 100vh; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
